.jumbotron {
    height: 60vh;
    background-image: url(/img/cow.jpg);
    color: white;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color:white;
   
}

.display-2 {
    padding: 150px;
}

body {
    background-image: url(/IMG/brick.jpg);
}
