p {
    margin: 40px;
    color: black;
}

.card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.jumbotron {
    height: 60vh;
    background-image: url(/img/4th.jpg);
    color: white;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color:white;
   padding: 90px;
}

body {
    background-image: url(/IMG/brick.jpg);
}